@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background-color: #c081ff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Great Vibes', cursive;
}

.form_section {
  display: flex;
  justify-content: center;
  grid-row: auto;
}

.form {
  height: fit-content;
  min-width: 33%;
  width: fit-content;
  color: #000;
  font-size: 1rem;
  background-color: #caa8f5;
  display: -ms-grid;
  display: grid;
  place-items: center;
  border-radius: 1em;
  -webkit-box-shadow: 0px 17px 34px -20px #c93333;
  box-shadow: 0px 17px 34px -20px #c93333;
  max-width: 400px;
  overflow: hidden;
  padding: 0;
  border: double .25em #c93333;
}

fieldset {
  min-width: 0;
  padding: 1rem 0;
  margin: 0;
  border: 0;
}

.title {
  font-size: 4rem;
  margin-left: .25em;
  padding-top: .25em;
  padding-bottom: .25em;
  font-weight: 700;
  color: #6b0000;
  text-shadow: .02em .02em #c93333;
}

.form_title {
  font-size: 4rem;
  margin-left: .25em;
  padding-top: .25em;
  padding-bottom: .25em;
  font-weight: 700;
  color: #6b0000;
  text-shadow: .02em .02em #c93333;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  -webkit-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

input {
  border-radius: .25em;
  border: 2px solid #d5d9d9;
  width: fit-content;
}

select {
  border-radius: .25em;
}

.button {
  background-color: #fff;
  border: 2px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember", sans-serif;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 7em;
  margin: .5em;
}

.button:hover {
  background-color: #f7fafa;
}

.button:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}

textarea {
  padding: auto;
  border-radius: .25em;
  border: 2px solid #d5d9d9;
  min-height: 5em;
  height: 100%;
  width: 100%;
  font: inherit;
  resize: none;
}

.field_number {
  width: 3em;
}

.list_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.list_item {
  margin: 1em;
  text-align: center;
  padding: 1em;
  background-color: #caa8f5;
  place-items: center;
  border-radius: 1em;
  -webkit-box-shadow: 0px 17px 34px -20px #c93333;
  box-shadow: 0px 17px 34px -20px #c93333;
}

.list_icons {
  display: flex;
  justify-content: space-evenly;
}

.list_icon {
  font-size: 15px;
}

.list_image {
  background-color: white;
  padding: 1em;
}

a {
  text-decoration: none;
  color: #6b0000;

}

.list_content {
  font-size: 20px;
}


.details {
  margin: 1em;
  text-align: center;
  align-items: center;
  padding: 1em;
  background-color: #caa8f5;
  place-items: center;
  border-radius: 1em;
  -webkit-box-shadow: 0px 17px 34px -20px #c93333;
  box-shadow: 0px 17px 34px -20px #c93333;
}

.detail_image {
  display: flex;
  border: solid #6b0000;
  justify-content: center;
  background-color: white;
  padding: 1em;
}

.detail {
  margin-top: 1em;
}

.detail_icons {
  margin: 1em;
}

.detail_icon {
  margin: 1em;
}

li {
  list-style: none;
}